########################################################################
# IDEs y herramientas
########################################################################

# IntelliJ IDEA / Android Studio
.idea/
*.iws
*.iml
*.ipr
out/
# Caches
/.gradle/
/.gradle/

# Eclipse / Spring Tools
.project
.classpath
.settings/
.metadata/
bin/
target/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/
.history/

# Visual Studio / Rider (útil si mezclás .NET)
*.suo
*.user
*.userosscache
*.sln.docstates

# JetBrains Rider & ReSharper caches
.idea/.idea.*
.idea/.idea_modules/
.idea/.cache/
.idea/.gradle/
*.DotSettings.user

########################################################################
# Sistema operativo & editor
########################################################################

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Vim / Emacs / nano
*.swp
*.swo
*~

########################################################################
# Herramientas de build
########################################################################

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Gradle
build/
.gradle/

# Logs
*.log

########################################################################
# Otros
########################################################################

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tgz
*.rar

*.jks
*.p12
*.pem
*.key
